body {
  font-family: 'Robobto' 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 0 47px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-position {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
}

.list-contac {
  display: flex;
  align-items: center;
}
